@keyframes loginClose {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes loginOpen {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-left: 2px solid var(--interactions);
  border-bottom: 2px solid var(--interactions);
  gap: 10px;
  right: 0px;
  top: 70px;
  background-color: var(--containers);
  padding: 20px;
  transform: translateX(0);
  animation: loginOpen 0.5s ease-in;
  z-index: 10;
}

.closed {
  transform: translateX(100%);
  animation: loginClose 0.5s ease-in;
}

.hidden {
  display: none;
}

.label {
  font-size: 1.1rem;
}

.input {
  height: 24px;
}

.registerLink {
  text-align: center;
}