.venueContainer {
  display: flex;
  width: 100%;
  border-bottom: 2px solid var(--interactions);
  padding-block: 10px;
  text-decoration: none;
  color: var(--textColor);
}

.venueContainer img {
  width: 100%;
  height: 20vw;
  max-width: 250px;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.infoContainer {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  margin-left: 20px;
  width: 100%;
}

.infoContainer h1, h2 {
  margin: 0;
}

.infoContainer h1 {
  font-size: clamp(1.4rem, 3vw, 2rem);
}

.infoContainer h2 {
  display: flex;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 500;
}

.locationIcon {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url("/src/assets/locationIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.priceContainer p {
  margin: 0;
  margin-bottom: 5px;
  text-align: end;
  text-wrap: nowrap;
}

.priceContainer p:first-child {
  color: var(--interactions);
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.priceContainer p:last-child {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
}