.venueContainer {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas: "image meta price"
                       "image meta price"
                       "image feature price";
  width: 100%;
  border-bottom: 2px solid var(--interactions);
  padding-block: 10px;
  text-decoration: none;
  color: var(--textColor);
}

.venueContainer img {
  grid-area: image;
  width: 100%;
  height: 20vw;
  max-height: 200px;
  min-width: 133px;
  object-fit: cover;
  object-position: center;
}

.infoContainer {
  grid-area: meta;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

.infoContainer h1, h2 {
  margin: 0;
}

.infoContainer h1 {
  font-size: clamp(1.4rem, 3vw, 2rem);
}

.infoContainer h2 {
  display: flex;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 500;
}

.locationIcon {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url("/src/assets/locationIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.priceContainer {
  grid-area: price;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.priceContainer p {
  margin: 0;
  margin-bottom: 5px;
  text-align: end;
  text-wrap: nowrap;
}

.priceContainer p:first-child {
  color: var(--interactions);
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.priceContainer p:last-child {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
}

@media screen and (max-width: 900px) {
  .venueContainer {
    grid-template-areas: "image meta price"
                         "image meta price"
                         "feature feature price";
  }

  .venueContainer img {
    margin-bottom: 10px;
  }
}