.editForm {
  position: relative;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  min-width: 40%;
  background-color: var(--containers);
  z-index: 100;
  border-radius: 3px 0px 0px 3px;
}

.editForm button:last-child {
  position: absolute;
  left: -15px;
}

.closed {
  transform: translateX(110%);
  transition: transform 0.5s ease-in;
}

.open {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

form p {
  margin: 0;
}

.tickBoxContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
}

.tickBoxContainer label {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: var(--background);
}

.tickBoxContainer input:checked + label {
  background-color: var(--interactions);
  background-image: url("/src/assets/successTick.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.tickBoxContainer input {display: none;}

.tickBoxContainer p {
  margin: 0;
  margin-left: 20px;
  margin-right: 5px;
  user-select: none;
}

@media screen and (max-width: 900px) {
  .editForm {
    min-width: 50%;
    position: absolute;

  }
}