.featureContainer {
  grid-area: feature;
  display: flex;
  gap: 10px;
  max-height: 30px;
  margin-top: auto;
  margin-inline: 10px;
  flex-wrap: wrap-reverse;
}

.featureCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--infoBox);
  color: var(--background);
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  user-select: none;
  border-radius: 3px;
}

@media screen and (max-width: 900px) {
  .featureContainer {
    margin-inline: 0;
  }
}