@font-face {
  font-family: 'Exo';
  src: url("/src/assets/Exo2-VariableFont_wght.ttf");
}

:root {
  --background: rgba(247, 243, 233, 1);
  --textColor: rgba(0, 0, 0, 1);
  --containers: rgba(163, 210, 202, 1);
  --infoBox: rgba(94, 170, 168, 1);
  --interactions: rgba(252, 128, 89, 1);
  --interactionsText: rgba(54, 56, 83, 1);
  --mainFont: 'Exo', "Candara", "Segoe", "Segoe UI", "Optima", Arial, sans-serif; 
}

html, body {
  overflow-x: hidden
}

body{
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
  background-color: var(--background);
  color: var(--textColor);
}

input, textarea {
  opacity: 70%;
  border-radius: 3px;
  border: none;
  font-family: var(--mainFont);
  padding-left: 5px;
  font-size: 1.1rem;
}

input:focus, textarea:focus {
  opacity: 90%;
}

/*Style overrides for components*/

.react-calendar {
  width: 100%;
  opacity: 80%;
}