:root {
  --background: rgba(247, 243, 233, 1);
  --textColor: rgba(0, 0, 0, 1);
  --containers: rgba(163, 210, 202, 1);
  --infoBox: rgba(94, 170, 168, 1);
  --interactions: rgba(252, 128, 89, 1);
  --interactionsText: rgba(54, 56, 83, 1);
  --mainFont: 'Calibri', "Candara", "Segoe", "Segoe UI", "Optima", Arial, sans-serif; 
}

body{
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
  background-color: var(--background);
  color: var(--textColor);
}

#root {
  overflow-x: hidden;
}
