.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 15%;
  margin-bottom: 50px;
}

.pageCounter {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 30px;
}

.pageCounter button {
  max-height: 30px;
}

.pageCountInteraction {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

@media screen and (max-width: 900px) {
  .pageContent {
    margin-inline: 10px;
  }

  .pageCountInteraction {
    width: 80%;
  }
}