.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 15%;
}

.pageCounter {
  text-align: center;
}

.pageCountInteraction {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

@media screen and (max-width: 900px) {
  .pageContent {
    margin-inline: 10px;
  }

  .pageCountInteraction {
    width: 80%;
  }
}