name: Build and Test

on: 
    workflow_dispatch:

    push:
        branches: ['main']

    pull_request:
        branches: ['main']
        types: [opened, synchronize, reopened, ready_for_review]


jobs:
    build_and_test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: installs dependencies
              run: npm install

            - name: try to build
              run: npm run build

            - name: run tests
              run: npm run test